#contanier {
    margin-left: 5px;
    margin-right: 5px;
}

#header {
    flex-wrap: wrap;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.small-box {
    padding: 5px;
    width: 400px;
}

.dropdown-menu {
    border-top-color: aliceblue;
    background-color: #212529;
    border-radius: 0;
}

.dropdown-item:hover {
    background-color: gray;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(40, 200, 255);
}

.titolo-carosello {
    font-weight: bold;
}

#bottone-carosello {
    border-radius: 3px;
}

.bottone-edificio {
    margin-top: 50px;
    margin-left: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 13px 40px 13px 40px;
    border: none;
    border-radius: 5px;
    background-color: #e06920;
    color: white;
}

.box-dati {
    width: 100%;
    height: 180px;
    background-image: url('images/dati.jpg');
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.aziende {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.p-aziende {
    color: white;
    font-size: large;
}

.carousell {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
